:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  line-height: 1.2;
}

body {
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  width: 100%;
}